<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue js</title>
</head>
<body>
<div id="app">
    <!--    Se puede ocupar la interpolación.-->
    <h1>{{titulo}}</h1>

    <!--    Con el v-model se queda con la palabra escrita-->
    <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
    <!--    Para agrega funcion onclick-->
    <button @click="agregarFruta">Agregar</button>

    <ul>
        <!--        Imprimir Objetos de js-->
        <li v-for="fruta of frutas">
            <input type="number" v-model.number="fruta.cantidad">
            <!--            Para agregar boton más que permita agregar más productos-->
            <button @click="fruta.cantidad++">+</button>
            {{fruta.nombre}}
            <span v-if="fruta.cantidad > 0"></span>
            <!--        Condicional de stock-->
            <span v-else>- Sin Stock.</span>
        </li>
        <h3>Total: {{sumarFrutas}}</h3>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/01.js"></script>
</body>
</html>